@import "../abstracts/variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
a[aria-current] {
    color: red;
}

button {
    border: none;
    background-color: $fourth_color;
    border-radius: 8px;
    padding: 7px 10px;
    color: white;
    &:hover {
        filter: brightness(90%);
    }
    &:active {
        filter: brightness(85%);
    }
}

input {
    -webkit-transition: 1s;
    /* Safari */
    transition: 1s;
}

$type: "text", "email", "password";

@each $t in $type {
    input[type="#{$t}"]:hover {
        box-shadow: 0 0 5pt 0.5pt $fourth_color;
    }

    input[type="#{$t}"]:focus {
        border-color: $fourth_color;
        box-shadow: 0 0 5pt 2pt $fourth_color;
        outline-width: 0px;
    }
}
input[type="checkbox"] {
    //background: $primary_color;
    transition: all 500ms;
    border: 1px solid $fourth_color;
    &:focus {
        box-shadow: 0 0 1pt 3pt $third_color;
        border: 1px solid $fourth_color;
    }
}
input[type="checkbox"]:checked {
    background: $fourth_color;
    border: 1px solid $fourth_color;
}

h1,
h2,
h3,
h4 {
    color: $fourth_color;
}
