@import "../../scss/abstracts/variables.scss";

.cardM{
    &.bkg{
        height: 70%;
        width: 32%;
        background-color: red;
        border-radius: 30%;
        text-align: center;
        font-size: 2rem;
        &[data-active=false]{
            visibility: hidden;
        }
    }
}