@import "../scss/abstracts/variables.scss";

.card{
    &.bkg{
        height: 80%;
        width: 30%;
        background-color: red;
        border-radius: 20%;
        text-align: center;
        font-size: 2rem;
        &[data-active=false]{
            visibility: hidden;
        }
    }
}