@import "../scss/abstracts/variables.scss";
@keyframes rInAnimate {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes rOutAnimate {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(100%);
    }
}
@keyframes fInAnimate {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes fOutAnimate {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.cardsMove {
    &.bkg{
        
        width: 100%;
        height: 40vw;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    &.move{
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        top: 0;
        //z-index: 3;
        margin: auto auto;
    }
    &.group{
        position: absolute;
        //margin: auto auto;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12vw;
        
        &.forward {
            &[data-active="true"] {
                //opacity: 1;
                animation: fInAnimate 2s forwards;
                z-index: 1;
            }
            &[data-active="false"] {
                animation: fOutAnimate 2s forwards;
            }
        }
        &.reverse {
            &[data-active="true"] {
                animation: rInAnimate 2s forwards;
                z-index: 1;
            }
            &[data-active="false"] {
                animation: rOutAnimate 2s forwards;
            }
        }
    }
    &.card{
        height: 100%;
        width: 100%;
        
        background-color: red;
    }
    &.button{
        z-index: 2;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        
        &.prev{
            left: 2%;
        }
        &.next{
            right: 2%;
        }
        
    }
}