@import "../scss/abstracts/variables.scss";

.carouselm {
    &.box {
        height: 100vh;
        width: 100vw;
    }
    &.slide {
        display: inline-block;
        overflow: hidden;
        position: absolute;
        inset: 0;
    }
    &.img {
        //display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: 2s;
        opacity: 0;
        &[data-active=true] {
            opacity: 1;
            
        }
        &[data-active=false] {
            transform: translateX(20vw);
        }
    }
    &-button {
        position: absolute;
        border-radius: 0;
        top: 50%;
        /*padding: 43vh 5%;*/
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.4);
        &.next {
            right: 0%;
        }
    }
}
