@import '../../scss/abstracts/variables.scss';
.login_Register {


    &.background {
        background: $fondo;
        background: linear-gradient(0deg,lighten($fondo,5%) 5%,  $fondo 92%);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    &.box {
        background-color: white;
    }
}