.login_Register {


    &.background {
        background: rgb(2, 0, 36);
        background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(2, 2, 19, 1) 14%, rgba(4, 109, 130, 1) 92%);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    &.box {
        background-color: white;
    }
}